{% extends 'base.html' %}
{% block title %}
Советы
{% endblock %}

{% block body %}

    <div class = "container">
    <h1>ПП-советы</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/bananas.jpg" width="100%"/>
            <div class="card-body">
              <p class="card-text">Чтобы сохранить бананы свежими, оберните основание связки бананов в несколько слоев фольгой. Таким образом бананы остануться свежими дольше на 3-5 дней.</p>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/cocos.jpg" width="100%"/>
            <div class="card-body">
              <p class="card-text">Кокосовое масло оказывает благотворное влияние на состояние кожи и волос. Содержит жиры, которые легче перерабатываются в энергию, чем любые аналоги.</p>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/tea.jpeg" width="100%" />
            <div class="card-body">
              <p class="card-text">Чай с мятой обладает обезболивающим эффектом, помогает при кашле и заболеваниях дыхательных путей.</p>

            </div>
          </div>
        </div>



{% endblock %}
